.App {
  text-align: center;
}

.dados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.dados input {
  width: 300px;
  height: 30px;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 5px;
  margin: 5px;
}

.dados button {
  width: 320px;
  height: 50px;
  margin-top: 5px;
}