# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
#Aqui coloco os arquivos específicos ou pastas que não devem ir para o github, colocando um ponto "." e o nome do arquivo/pasta
# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
