*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
}

.cabecalho{
    text-align: center;
    padding: 1rem 0rem;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-numeros{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.main-botoes{
    display: flex;
    justify-content: center;
    gap: 1rem;
}