*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    /* display: flex;
    flex-direction: column; */
}

.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{

}