*{
    padding: 0;
    margin: 0;
}
.cabecalho{
    width: 100vw;
}
.menu{
    width: 100vw;
}
ul{
    list-style: none; 
    padding: 0;
    margin: 0;
}
li{
    display:inline-flex;
    justify-content: space-evenly;
    margin: 20px;
}
a{
    text-decoration: none;
}
.btVoltar{
    cursor: pointer;
    margin: 20px;
}