* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.menu {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid red;
    margin-bottom: 15px;
    cursor: pointer;
}

.conteudo {
    display: flex;
    justify-content: center;
}